<!--
  ~ Copyright © 2022 TechNWeb, Inc. All rights reserved.
  ~ See TNW_LICENSE.txt for license details.
  -->

<!-- ko foreach: {data: values(), as: 'value'} -->
    <!-- ko if: !$parent.isEmpty($parent.prefix(value)) -->
        <!-- ko text: $parent.prefix(value) --><!-- /ko -->:
    <!-- /ko -->
    <!-- ko if: !$parent.isEmpty($parent.href) -->
        <a target="_blank" style="font-family:monospace;" class="admin__field-value" data-bind="text: $parent.text(value), attr: {href: $parent.href+$parent.text(value)}"></a>
    <!-- /ko -->
    <!-- ko if: $parent.isEmpty($parent.href) -->
        <span style="font-family:monospace;" class="admin__field-value" data-bind="text: $parent.text(value)"></span>
    <!-- /ko -->
    <br>
<!-- /ko -->
