<?xml version="1.0"?>
<!--
  ~ Copyright © 2022 TechNWeb, Inc. All rights reserved.
  ~ See TNW_LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">

                <resource id="TNW_Salesforce::salesforce" title="TNW_Salesforce">
                    <resource id="TNW_Salesforce::tools" title="Tools">
                        <resource id="TNW_Salesforce::tools_log" title="Log"/>
                        <resource id="TNW_Salesforce::tools_sync_log" title="Synchornization File Log"/>
                        <resource id="TNW_Salesforce::tools_magento_log" title="Magento File Log"/>
                        <resource id="TNW_Salesforce::tools_login" title="Login"/>
                    </resource>
                </resource>

                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="TNW_Salesforce::config" title="TNW_Salesforce">
                                <resource id="TNW_Salesforce::config_general" title="General Configuration"/>
                                <resource id="TNW_Salesforce::config_customer" title="Customers"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>

        </resources>
    </acl>
</config>
