<?xml version="1.0"?>

<!--
  ~ Copyright © 2022 TechNWeb, Inc. All rights reserved.
  ~ See TNW_LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tnwsforce_general>
            <general>
                <active>0</active>
            </general>
            <salesforce>
                <wsdl>var/enterprise.wsdl.xml</wsdl>
            </salesforce>
            <synchronization>
                <sync_mode>0</sync_mode>
                <mq_mode>db</mq_mode>
                <sync_type_realtime>sync_type_realtime</sync_type_realtime>
                <page_size_from_magento>500</page_size_from_magento>
                <max_attempt_count>5</max_attempt_count>
                <max_items_count_for_queue>200</max_items_count_for_queue>
                <need_refresh_grids>1</need_refresh_grids>
                <memory_limit>500</memory_limit>
            </synchronization>
            <debug>
                <db_log_limit>10000</db_log_limit>
                <dblogstatus>1</dblogstatus>
                <logbaseday>7</logbaseday>
                <clearsystemlogs>1</clearsystemlogs>
                <debugcleardays>30</debugcleardays>
            </debug>
        </tnwsforce_general>
        <tnwsforce_customer>
            <general>
                <active>1</active>
                <account_name>0</account_name>
                <sync_groups>1</sync_groups>
                <contact_assignee>0</contact_assignee>
            </general>
        </tnwsforce_customer>
    </default>
</config>
