/*
 * Copyright © 2022 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */

@alert-icon__pending__content: @icon-refresh__content;
@alert-icon__pending__color: #f9c576;

.message-pending {
    &:before {
        color: @alert-icon__pending__color;
        content: @alert-icon__pending__content;
    }
}
