<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="TNW\Salesforce\Model\File\Uploader">
        <plugin name="save_asset_image" type="TNW\Salesforce\Plugin\SaveImageInformation" />
    </type>

    <type name="Magento\Backend\App\Request\BackendValidator">
        <plugin name="validator_skip" type="TNW\Salesforce\Plugin\ValidatorSkip" />
    </type>

    <type name="Magento\Customer\Ui\Component\Listing\Column\Actions">
        <plugin name="customer_grid_add_sync_action"
                type="TNW\Salesforce\Plugin\CustomerGridAddAction"
                sortOrder="10"/>
    </type>

    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="customSystemMessage" xsi:type="string">TNW\Salesforce\Model\System\Message\InvalidConnection</item>
            </argument>
        </arguments>
    </type>

    <!-- Customer Select Grid -->
    <virtualType name="TNW\Salesforce\Model\ResourceModel\Objects\Customer\ContactSelect" type="TNW\Salesforce\Model\ResourceModel\Objects\ObjectIdSelect">
        <arguments>
            <argument name="magentoType" xsi:type="string">Customer</argument>
            <argument name="salesforceType" xsi:type="string">Contact</argument>
        </arguments>
    </virtualType>

    <virtualType name="TNW\Salesforce\Model\ResourceModel\Objects\Customer\AccountSelect" type="TNW\Salesforce\Model\ResourceModel\Objects\ObjectIdSelect">
        <arguments>
            <argument name="magentoType" xsi:type="string">Customer</argument>
            <argument name="salesforceType" xsi:type="string">Account</argument>
        </arguments>
    </virtualType>

    <virtualType name="TNW\Salesforce\Model\ResourceModel\Objects\Customer\StatusSelect" type="TNW\Salesforce\Model\ResourceModel\Objects\StatusSelect">
        <arguments>
            <argument name="magentoType" xsi:type="string">Customer</argument>
        </arguments>
    </virtualType>

    <type name="TNW\Salesforce\Plugin\Customer\Model\ResourceModel\Grid\Collection">
        <arguments>
            <argument name="select" xsi:type="array">
                <item name="sf_website_id" xsi:type="object">TNW\Salesforce\Model\ResourceModel\Objects\Customer\WebsiteSelect</item>
                <item name="sforce_id" xsi:type="object">TNW\Salesforce\Model\ResourceModel\Objects\Customer\ContactSelect</item>
                <item name="sforce_account_id" xsi:type="object">TNW\Salesforce\Model\ResourceModel\Objects\Customer\AccountSelect</item>
                <item name="sforce_sync_status" xsi:type="object">TNW\Salesforce\Model\ResourceModel\Objects\Customer\StatusSelect</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Customer\Model\ResourceModel\Grid\Collection">
        <plugin name="tnw_salesforce" type="TNW\Salesforce\Plugin\Customer\Model\ResourceModel\Grid\Collection" />
    </type>
    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="allowHtmlTagsMessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">\Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">TNW_Salesforce::messages/allowHtmlTagsMessage.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Block\Menu">
        <plugin name="tnw_salesforce_split_submenu_to_columns_plugin"
                type="TNW\Salesforce\Plugin\BlockMenu\SplitSubmenuToColumns"
                sortOrder="110"/>
    </type>
</config>
