<?xml version="1.0"?>
<!--
  ~ Copyright © 2022 TechNWeb, Inc. All rights reserved.
  ~ See TNW_LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="website_save_commit_after">
        <observer name="tnw_observer" instance="TNW\Salesforce\Observer\WebsiteSaveCommitAfter"/>
    </event>
    <event name="controller_action_predispatch_adminhtml_system_config_edit">
        <observer name="tnw_observer" instance="TNW\Salesforce\Observer\ControllerActionPredispatchAdminhtmlSystemConfigEdit"/>
    </event>
    <event name="admin_system_config_changed_section_tnwsforce_general">
        <observer name="tnw_observer_clean_last_error_connection" instance="TNW\Salesforce\Observer\CleanLastErrorConnection"/>
    </event>
</config>
