<?xml version="1.0"?>
<!--
  ~ Copyright © 2022 TechNWeb, Inc. All rights reserved.
  ~ See TNW_LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!--Salesforce root menu item-->
        <add id="TNW_Salesforce::salesforce" title="Salesforce" module="TNW_Salesforce" sortOrder="100"
             dependsOnModule="Magento_Catalog" resource="TNW_Salesforce::salesforce"/>

        <add id="TNW_Salesforce::configuration" title="Configuration" module="TNW_Salesforce" sortOrder="15"
             parent="TNW_Salesforce::salesforce" resource="TNW_Salesforce::config"/>

        <add id="TNW_Salesforce::general_configuration" title="General Configuration" module="TNW_Salesforce"
             action="adminhtml/system_config/edit/section/tnwsforce_general" sortOrder="15"
             parent="TNW_Salesforce::configuration" resource="TNW_Salesforce::config_general"/>

        <add id="TNW_Salesforce::customers_configuration" title="Customers" module="TNW_Salesforce"
             action="adminhtml/system_config/edit/section/tnwsforce_customer" sortOrder="25"
             parent="TNW_Salesforce::configuration" resource="TNW_Salesforce::config_customer"/>

        <add id="TNW_Salesforce::tools" title="Tools" module="TNW_Salesforce" sortOrder="90"
             parent="TNW_Salesforce::salesforce" resource="TNW_Salesforce::tools_log"/>

        <add id="TNW_Salesforce::tools_log" action="tnw_salesforce/system_log/view" title="Synchronization Log (DB)"
             translate="title" module="TNW_Salesforce" sortOrder="90" parent="TNW_Salesforce::tools"
             resource="TNW_Salesforce::tools_log"/>

        <add id="TNW_Salesforce::tools_sync_log" action="tnw_salesforce/logfile_sync/index" title="Synchronization Log (Files)"
             translate="title" module="TNW_Salesforce" sortOrder="100" parent="TNW_Salesforce::tools"
             resource="TNW_Salesforce::tools_sync_log"/>

        <add id="TNW_Salesforce::tools_magento_log" action="tnw_salesforce/logfile_magento/index" title="Magento Log"
             translate="title" module="TNW_Salesforce" sortOrder="110" parent="TNW_Salesforce::tools"
             resource="TNW_Salesforce::tools_magento_log"/>

        <!-- Customer menu -->
        <add id="TNW_Salesforce::tnw_customer" title="Salesforce" module="TNW_Salesforce" sortOrder="50"
             dependsOnModule="TNW_Salesforce" parent="Magento_Customer::customer"
             resource="Magento_Customer::customers"/>

        <add id="TNW_Salesforce::salesforce_customer_configuration" title="Configuration" module="TNW_Salesforce"
             sortOrder="150" parent="TNW_Salesforce::tnw_customer"
             action="adminhtml/system_config/edit/section/tnwsforce_customer" resource="TNW_Salesforce::config_customer"/>
    </menu>

</config>
